.pagination {
  display: flex;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.pagination div {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  text-decoration: none;
  list-style: none;
}

.pagination span {
  background-color: rgb(248, 247, 247);
  border-radius: 1.5rem;
  margin: 1rem;
  font-weight: bolder;
  color: blue;
}

.pagination button {
  padding: 1rem;
  border: none;
  color: blue;
  cursor: pointer;
  border-radius: 1rem;
}

.pagination button:hover {
  background-color: rgb(233, 229, 229);
  border: 2px solid rgb(124, 170, 243);
  color: white;
  background-color: rgb(123, 187, 240);
}

.pagination button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
