.container {
  display: flex;
  flex-direction: wrap;
  width: 55%;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin: 0.5rem;
}
