.button {
  padding: 1rem;
  margin-right: 0.5rem;
  background-color: rgb(226, 130, 226);
  color: white;
  border-radius: 0.5rem;
  border: none;
}

.button:hover {
  background-color: rgb(219, 100, 219);
  cursor: pointer;
  font-weight: bolder;
}
