.form-control {
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  padding: 3rem;
  width: 50%;
  box-shadow: 5px 10px 18px rgb(124, 122, 122);
  display: flex;
  flex-direction: column;
}

.form-control div {
  width: 100%;
}

.form-control input,
.form-control textarea {
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  background-color: #cac6c6;
  width: 100%;
}

.form-input label {
  font-weight: bold;
  font-size: 0.5rem;
}
